services:
  gateway:
    build:
      context: ./gateway
    container_name: api-gateway
    environment:
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://keycloak:8080/realms/microservices-realm
      SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES_0_ID: product-service
      SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES_0_URI: http://product-service:8081
      SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES_0_PREDICATES_0: Path=/products/**
      SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES_1_ID: order-service
      SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES_1_URI: http://order-service:8082
      SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES_1_PREDICATES_0: Path=/orders/**
    ports:
      - "8085:8085"
    depends_on:
      - keycloak
      - product-service
      - order-service
    restart: unless-stopped
    networks:
      - keycloak-network

  product-service:
    build:
      context: ./product-service
    container_name: product-service
    environment:
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://keycloak:8080/realms/microservices-realm
    ports:
      - "8081:8081"
    depends_on:
      - keycloak
    restart: unless-stopped
    networks:
      - keycloak-network

  order-service:
    build:
      context: ./order-service
    container_name: order-service
    environment:
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://keycloak:8080/realms/microservices-realm
    ports:
      - "8082:8082"
    depends_on:
      - keycloak
    restart: unless-stopped
    networks:
      - keycloak-network

  react-app:
    build:
      context: ./react-app
    container_name: react-app
    ports:
      - "3000:80"
    depends_on:
      - gateway
    restart: unless-stopped
    networks:
      - keycloak-network

  postgres:
    image: postgres:15
    container_name: keycloak-postgres
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    volumes:
      - keycloak_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U keycloak"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - keycloak-network

  keycloak:
    image: quay.io/keycloak/keycloak:21.1.1
    container_name: keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
      KC_HOSTNAME_STRICT: false
      KC_HTTP_ENABLED: true
      KC_HEALTH_ENABLED: true
    command: start-dev
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - keycloak-network

volumes:
  keycloak_data:

networks:
  keycloak-network:
    driver: bridge
