server:
  port: 8085

spring:
  application:
    name: api-gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/microservices-realm

  cloud:
    gateway:
      server:
        webflux:
          routes:

            - id: product-service
              uri: https://localhost:8081
              predicates:
                - Path=/products/**

            - id: order-service
              uri: https://localhost:8082
              predicates:
                - Path=/orders/**

gateway:
  mtls:
    key-store: classpath:certs/client.p12
    key-store-password: ${GATEWAY_MTLS_KEYSTORE_PASSWORD}
    trust-store: classpath:certs/truststore.p12
    trust-store-password: ${GATEWAY_MTLS_TRUSTSTORE_PASSWORD}
